.Footer {
  display: flex;
  justify-content: center;
  background: #7a031e;
  line-height: initial;
  svg {
    padding: 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s linear;

    &:hover {
      color: rgb(47, 102, 144);
    }
  }
}
